.client-list-wrapper {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 10px;
    width: 600px;
    font-family: Tahoma, serif;
    row-gap: 10px;
}

.client-list-header-wrapper {
    background-color: #393939;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-cards-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-height: 800px;
    overflow-y: auto;
}